.main(ng-app='game')

  .main-view(ng-controller='MainCtrl')

  %form{:id => "login_form", :name => "loginForm"}(ng-submit="login()")
    %input{:type => "text", :name => "username"}
    %input{:type => "password", :name => "password"}
    %input{:type => "submit"}


= link_to "My Game", games_path